{% extends 'base/base.html' %}
{% load static %}
{% block title %} School Management System {% endblock %}
{% block content %}

{% for message in messages %}
                {% if "success" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-success" style="text-align:center;">{{message}}</div>
            </div>
          </div>
                {% endif %}

                {% if "info" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-info" style="text-align:center;">{{message}}</div>
            </div>
          </div>
                {% endif %}
                {% endfor %}
<div class="col-lg-12 grid-margin stretch-card" id="department-list">
              <div class="card">
                <div class="card-body shadow">
                       <div class="row">
                        <div class="col-md-12">
                            <h3><img src="{% static 'Mainapp/images/reading.png' %}" class="heading-icon">Liste des eleves supprimes</h3>
                        </div>
                    </div>

                    </form>
                <hr class="line">
                  <div class="col-md-5">
                   <div class="search-field d-none d-md-block">
        </div>
                  </div>
{% if object_list %}
                      <div class="row">
                  <div class="col-md-4">
                   <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="{% url 'student class search results' %}" method="get">
            <div class="input-group">
              <input type="text" class="form-control bg-transparent " name="q" placeholder="Rechercher un eleve">
            </div>
              <input type="text" value="{{classroom.id}}" class="hidden" name="id">
            <button type="submit" class="btn btn-inverse-primary btn-icon" style="width:100px;height:35px;">Rechercher</button>
          </form>
        </div>
                  </div>
                          <div class="col-md-4">
                            <form method="get" action="{% url 'student list pdf' %}">
                            <input type="text" value="{{classroom.id}}" name="id" class="hidden">
                            <div class="row" style="margin-left:90px;">
                                    <button type="submit" class="btn btn-rounded btn-danger">Telecharger</button>
                                    </div>
                            </form>
                         </div>
                        <div class="col-md-4">
                    <div class="container" style="margin-left:50px;">
	<div class="btn-group sort-btn">
		<button class="btn btn-primary btn-rounded" type="button"  data-sort="none" aria-haspopup="true" aria-expanded="false">Trier</button>
		<button class="btn btn-primary btn-rounded dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort"></i></button><!-- .dropdown-toggle adds rounded borders and reduces padding. It does not trigger dropdowns. -->
		<ul class="dropdown-menu shadow" style="margin-left:-115px;width:200px;">
			<li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                    <input type="text" value="masculin" class="hidden" name="cathegory">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">masculin</button>
                </form>
            </li>
			<li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                    <input type="text" value="feminin" class="hidden" name="cathegory">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">feminin</button>
                </form>
            </li>
            <li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                    <input type="text" value="ordre alphabetique" class="hidden" name="cathegory">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">ordre alphabetique</button>
                </form>
            </li>
            <li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                    <input type="text" value="pension paye" class="hidden" name="cathegory">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">pension paye</button>
                </form>
            </li>
            <li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                    <input type="text" value="pension non-paye" class="hidden" name="cathegory">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">pension non paye</button>
                </form>
            </li>
            <li style="text-align:center;">
                <form action="{% url 'student class sorted list' %}" method="get">
                    <input type="text" value="tous" class="hidden" name="cathegory">
                     <input type="text" value="{{classroom.id}}" class="hidden" name="id">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">tous</button>
                </form>
            </li>
		</ul>
	</div>
</div>
                    </div>
                    </div>

                    <hr class="line">
                  <table class="table table-striped table-bordered" id="new_table">
                    <thead>
                      <tr>
                          <th></th>
                        <th style="text-align:center;">Nom et prenoms</th>
                          <th style="text-align:center;">Genre</th>
                          <th style="text-align:center;">Date de naissance</th>
                          <th style="text-align:center;">Lieu de naissance</th>
                          <th style="text-align:center;">status de Pension</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% else %}
                    <div class="alert alert-info" style="text-align:center;">Aucun n'eleve n'a ete suprimme pour l'instant</div>
                    {% endif %}

                    {% for student in object_list %}

                    {% csrf_token %}
                        <tr>
                            <form method="get" action="{% url 'student detail' %}">
                        <td style="text-align:center;">
                          {{forloop.counter}}
                        </td>
                            <td style="text-transform:uppercase;text-align:center;">
                                <strong>{{student.first_name}} {{student.last_name}}</strong>
                            </td>
                            <td style="text-align:center;">
                          {{student.gender}}
                        </td>
                            <td style="text-align:center;">
                          {{student.date_of_birth}}
                        </td>
                            <td style="text-align:center;">
                          {{student.place_of_birth}}
                        </td>
                            <td style="text-align:center;">
                                {% for fee in student.fee.all %}
                                {% if fee.paid_fee == True %}
                          <div class="badge badge-success">Paye'</div>
                                {% else %}
                                 <div class="badge badge-danger">Non paye'</div>
                                {% endif %}
                                {% endfor %}

                        </td>
                            <td class="hidden">
                            <input type="text" name="student_id" value="{{student.id}}">
                            </td>
                            <td style="text-align:center;">
                            <button type="submit" class="btn btn-inverse-primary btn-sm">Details</button>
                        </td>
                            </form>
                      </tr>

                     {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

{% endblock %}