{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} School Management System {% endblock %}
{% block content %}

<form action="{% url 'download student card' %}" method="get">
<div style="margin-top:-70px;margin-left:700px;padding-bottom:20px;">
<button type="submit" class="btn btn-rounded btn-danger">Telecharger</button>
    <input type="text" value="{{card.id}}" name="card_id" class="hidden">
</div>
<div>
</div>
    <div class="col-md-7 grid-margin stretch-card" style="margin-left:200px;">
              <div class="card">
                <div class="card-body login100-more1 shadow" style="background-image: url('{% static 'Mainapp/images/water.png' %}')">
                    <div class="box" style="top:15px;left:110px;">
                    <img src="{% static 'Mainapp/images/ministry.jpg' %}" style="border-radius:100%;height:250px;width:350px;">
                    </div>
                    <div class="row" style="margin-top:-40px;">
                        <div class="col-md-6" style="padding:20px;border-radius:8px;text-align:center;">
                            <div style="font-size:12px;margin-top:-13px;"><strong>REPUBLIC OF CAMEROON</strong></div>
                            <i style="font-size:12px;">PEACE - WORK - FATHERLAND</i>
                            <hr class="line" style="margin-top:0px;">
                        </div>
                        <div class="col-md-6" style="padding:20px;border-radius:8px;text-align:center;">
                            <div style="font-size:12px;margin-top:-13px;"><strong>REPUBLIQUE DU CAMEROUN</strong></div>
                            <i style="font-size:12px;">PAIX - TRAVAIL - PATRIE</i>
                            <hr class="line" style="margin-top:0px;">
                    </div>
                </div>
                    <h5 style="text-align:center;margin-top:-30px;">MINISTERE DES ENSEIGNEMENTS SECONDAIRES</h5>
                    <div style="text-align:center;margin-top:-10px;"><i>MINISTRY OF SECONDARY EDUCATION</i></div>
                    <h3 style="font-family:Ubuntu-Bold;text-align:center;">LYCEE BILINUE DE BAFIA</h3>
                     <h4 style="font-family:Ubuntu-Bold;text-align:center;">G.B.H.S BAFIA</h4>
                    <div style="text-align:center;">CARTE D'IDENTITE SCHOLAIRE<strong></strong></div>
                    <div style="text-align:center;"><i>SCHOOL IDENDITY CARD</i></div>
                    <hr class="line">
                    <div style="text-align:center;font-size:13px;">ANNE SCHOLAIRE : {{card.year}}/ SCHOOL YEAR : {{card.year}}</div>
              </div>
            </div>
 </div>
<div class="col-md-7 grid-margin stretch-card" style="margin-left:200px;">
              <div class="card">
                <div class="card-body shadow login100-more1" style="background-image: url('{% static 'Mainapp/images/water.png' %}')">
                    <div class="box" style="top:15px;">
                    <img src="{% static 'Mainapp/images/ministry.jpg' %}" style="border-radius:100%;height:250px;width:350px;">
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="padding:15px;margin-top:-15px;">
                            <ul style="list-style-type:none;margin-top:-20px;">
                                <li>Noms : <strong>{{card.first_name}}</strong></li>
                                <li style="margin-top:-10px;"><i>Surname</i></li>
                            </ul>
                            <hr class="line" style="margin-top:-15px;">
                            <ul style="list-style-type:none;margin-top:-20px;">
                                <li>Prenoms : <strong>{{card.last_name}}</strong></li>
                                <li style="margin-top:-10px;"><i>Given names</i></li>
                            </ul>
                             <hr class="line" style="margin-top:-15px;">
                            <ul style="list-style-type:none;margin-top:-20px;">
                                <li>Classe : <strong>{{card.classroom}}</strong></li>
                                <li style="margin-top:-10px;"><i>Class</i></li>
                            </ul>
                             <hr class="line" style="margin-top:-15px;">
                            <ul style="list-style-type:none;margin-top:-20px;">
                                <li>Ne(e) : <strong>{{card.date_of_birth}}</strong> <span>A : <strong>{{card.place_of_birth}}</strong></span></li>
                                <li style="margin-top:-10px;"><i>Born on</i></li>
                            </ul>
                             <hr class="line" style="margin-top:-15px;">
                            <ul style="list-style-type:none;margin-top:-20px;">
                                <li>Matricule : <strong>{{card.matricule}}</strong></li>
                                <li style="margin-top:-10px;"><i>Registration Number</i></li>
                            </ul>
                             <hr class="line" style="margin-top:-15px;">
                        </div>

                        <div class="col-md-4">
                            <div style="text-align:right;">
                                <img src="{% static 'Mainapp/images/faces/face17.jpg' %}" style="width:120px;">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
</form>
{% endblock %}