{% load static %}

  <script src="{% static 'Mainapp/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'Mainapp/vendors/js/vendor.bundle.addons.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'Mainapp/js/off-canvas.js' %}"></script>
  <script src="{% static 'Mainapp/js/misc.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'Mainapp/js/dashboard.js' %}"></script>
  <script src="{% static 'Mainapp/js/chart.js' %}"></script>

<script src="{% static 'Mainapp/js/classie.js' %}"></script>
  <script src="{% static 'Mainapp/js/css-filter-polyfill.js' %}"></script>
<script src="{% static 'Mainapp/js/cssParser.js' %}"></script>
  <script src="{% static 'Mainapp/js/file-upload.js' %}"></script>
<script src="{% static 'Mainapp/js/modalEffects.js' %}"></script>
<script src="{% static 'Mainapp/js/modernizr.custom.js' %}"></script>

<!-- payment api -->



{% block script %}

{% endblock %}
