{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} School Management System {% endblock %}
{% block content %}
{% for message in messages %}
                {% if "success" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-success" style="text-align:center;">{{message}}</div>
            </div>
          </div>
                {% endif %}
{% if "error" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" style="text-align:center;">{{message}}</div>
            </div>
          </div>
                {% endif %}
                {% endfor %}
    <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body shadow">
                  <div class="row">
                      <div class="col-md-12">
                    <h3><img src="{% static 'Mainapp/images/education.png' %}" class="heading-icon">Modifications de la matiere : {{course.name}} - <i>({{course.classroom.name}})</i></h3>
                      </div>
                    </div>
                    <hr class="line">
                    <form class="forms-sample" method="get" action="{% url 'save course' %}">
                      {% csrf_token %}
                   <div class="row" style="margin-top:25px;">
                        <div class="col-sm-4">
                    <div class="form-group">
                      <label>Nom</label>
                        <input type="text" name="name" value="{{course.name}}" style="font-size:15px;text-align:center" class="form-control">
                    </div>
                            <input type="text" name="course_id" value="{{course.id}}" class="hidden">
                        </div>
                        <div class="col-sm-4">
                    <div class="form-group">
                      <label>Coefficient</label>
                       <input type="text" name="coeff" value="{{course.coeff}}" style="font-size:15px;text-align:center" class="form-control">
                    </div>
                        </div>
                       <div class="col-sm-4">
                    <div class="form-group">
                      <label>Departement</label>
                       <select name="department" style="text-align:center;">
                           {% for dep in departments %}
                           {% if dep in course.department.all %}
                           <option selected="selected" style="text-align:center;">{{dep.name}}</option>
                           {% endif %}
                           <option  style="text-align:center;">{{dep.name}}</option>
                           {% endfor %}
                       </select>
                    </div>
                        </div>
                    </div>
                        <input type="text" name="id" value="{{course.classroom.id}}" class="hidden">
                        <hr class="line">
                    <button type="submit" class="btn btn-gradient-success mr-2">Sauvegarder</button>
                  </form>
                </div>
              </div>
            </div>

{% endblock %}