{% extends 'base/base.html' %}
{% load static %}
{% block title %} School Management System {% endblock %}
{% block content %}

{% for message in messages %}
                {% if "error" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" style="text-align:center;width:980px;margin-left:20px;"><i class="mdi mdi-block-helper notify-icon"></i>{{message}}</div>
            </div>
          </div>
                {% endif %}
                {% endfor %}

         <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

                    <div style="margin-top:-20px;">
                    <h4 class="card-title">
                        <img src="{% static 'Mainapp/images/faces/face1.jpg' %}" alt="profile" class="user-image">
                        <div class="user-name" style="border:none;">{{user.first_name}}</div>

                        {% for group in user.groups.all %}
                        {% if group == None %}
                        <div class="card-description" style="margin-left:155px;">Aucuns</div>
                        {% else %}
                        <div class="card-description" style="margin-left:155px;">{{group.name}}</div>
                        {% endif %}
                        {% endfor %}
                    </h4>
                </div>
                    <hr class="line">
                    <p class="card-description text-info">Entrez votre mot de passe, ensuite le nouveau mot de passe, et enfin changez ! </p>

                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-6">
                            <label>Entrez votre mot de passe</label>
                            <input type="password" name="old_password" placeholder="********" class="form-control">
                        </div>
                        <div class="col-md-6">
                              <label>Entrez votre nouveau mot de passe</label>
                             <input type="password" name="new_password" placeholder="********" class="form-control">
                        </div>
                    </div>
                        <hr class="line">
                        <div style="margin-top:20px;">
                            <button type="submit" class="btn btn-gradient-info">Changer de mot de passe</button>
                        </div>

                    {{form.as_p}}

              </div>
            </div>
         </div>

{% endblock %}