{% extends 'base/base.html' %}
{% load static %}
{% block title %} School Management System {% endblock %}
{% block content %}

{% for group in user.groups.all %}
    {% if group.name != 'parent' %}
         <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body shadow">

                    <div style="margin-top:-20px;">
                    <h4 class="card-title">
                        <img src="{% static 'Mainapp/images/faces/face1.jpg' %}" alt="profile" class="user-image">
                        {% if teacher.gender == 'masculin' %}
                        <div class="user-name" style="border:none;width:auto;padding-bottom:10px;">Mr. {{teacher.first_name}}</div>
                        {% else %}
                         <div class="user-name" style="border:none;width:auto;padding-bottom:10px;">Mme. {{teacher.first_name}}</div>
                        {% endif %}
                        {% for group in teacher.groups.all %}
                        {% if group == None %}
                        <div class="card-description text-primary" style="margin-left:155px;">Aucuns</div>
                        {% else %}

                            {% if group.name == 'administrateur' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Proviseur</div>
                            {% endif %}
                            {% if group.name == 'adminparent' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Proviseur et Parent</div>
                            {% endif %}
                            {% if group.name == 'adminteacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Proviseur et Enseignant</div>
                            {% endif %}
                            {% if group.name == 'adminparentteacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Proviseur, Enseignant et Parent</div>
                            {% endif %}
                            {% if group.name == 'censeur' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Censeur</div>
                            {% endif %}
                            {% if group.name == 'censeurparent' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Censeur et Parent</div>
                            {% endif %}
                            {% if group.name == 'censeurteacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Censeur et Enseignant</div>
                            {% endif %}
                        {% if group.name == 'censeurparentteacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Censeur, Enseignant et Parent</div>
                            {% endif %}
                        {% endif %}
                        {% if group.name == 'intendant' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Intendant</div>
                            {% endif %}
                        {% if group.name == 'surveillant general' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Surveillant Genarale</div>
                            {% endif %}
                        {% if group.name == 'headmasterparent' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Surveillant Genarale et Parent</div>
                            {% endif %}
                        {% if group.name == 'teacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Enseignant</div>
                            {% endif %}
                        {% if group.name == 'parentteacher' %}
                            <div class="card-description text-primary" style="margin-left:155px;">Enseignant et Parent</div>
                            {% endif %}

                        {% endfor %}
                    </h4>
                </div>
                    <hr class="line">
                  <form class="forms-sample" method="get" action="{% url 'confirm success' %}">
                        <input type="text" value="{{teacher.id}}" class="hidden" name="id">
                    <div class="row">
                        <div class="col-md-6" style="border-right:5px solid #ebedf2;">
                            <h4>Departements</h4>
                            <hr class="line">
                            <ul class="list-ticked">
                                {% for dep in teacher.department.all %}
                                <li style="font-size:20px;">{{dep.name}}</li>
                                {% endfor %}
                            </ul>
                    {% if teacher_courses %}
                     <table class="table table-striped table-bordered" id="new_table1">
                    <thead>
                      <tr>
                        <th>
                          Enseigne
                        </th>
                        <th>
                          Dans les classes
                        </th>
                      </tr>
                    </thead>
                          <tbody>

                      {% for course in teacher_courses %}
                      <tr>
                        <td class="py-1">
                            {{course.name}}
                        </td>
                        <td>
                          {{course.classroom.name}}
                        </td>
                      </tr>
                            {% endfor %}
                          </tbody>
                     </table>
                            {% else %}

                            {% endif %}

                        </div>
                        <div class="col-md-6">
                        <h4>Info personel</h4>
                            <hr class="line">
                            <div class="row">
                                   <div class="col-md-6">
                                    <label>Numero de telephone</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.phone_no}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Address</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.address}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                   <div class="col-md-6">
                                    <label>Genre</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.gender}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Professeur Principal de la</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.address}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="row">
                                   <div class="col-md-6">
                                    <label>Religion</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.religion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Status marital</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.marital_status}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="row">
                                   <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="form-group">
                                        <div class="label-info-normal">
                                    {{teacher.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Nationalite</label>
                                    <div class="form-group">
                                        <div class="label-info">
                                    {{teacher.nationality}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% if group.name == 'administrateur' %}
                      <hr class="line">
                      <div class="row">
                          <div class="col-md-6">
                    <button type="submit" class="btn btn-gradient-danger mr-2" style="width:400px;">Suprimmer l'utilisateur</button>
                           </div>
                      </div>
                      {% endif %}
                  </form>
                </div>
              </div>
            </div>
    {% endif %}
{% endfor %}
{% endblock %}