{% load static %}
{% load widget_tweaks %}
    {% include 'base/header.html' %}
    <header>
      <div class="container-scroller">
      </div>
    </header>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth login100-more1" style="background-image:url('{% static 'Mainapp/images/bk.jpg' %}');">
        <div class="row w-100">
          <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                <img src="{% static 'Mainapp/images/logo.svg' %}">
              </div>
              <h4 class="card-title"><i class="mdi mdi-account-plus " style="font-size:30px;padding-right:30px;color:#9a55ff"></i>Creation d'un compte intendant</h4>


                 <form class="forms-sample" method="post">
                     {% csrf_token %}
                    <div class="row" style="margin-top:25px;">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Nom</label>
                       {{ form.first_name | add_class:"form-control" }}
                        {{ form.first_name.errors | add_error_class:"form-errors" }}
                    </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Date de naissance</label>
                     <input type="date" name="date_of_birth" class="form-control">
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label >Lieu de naissance</label>
                       {{ form.place_of_birth | add_class:"form-control" }}
                        {{ form.place_of_birth.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>

                      <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Nationalite</label>
                       {{ form.nationality | add_class:"form-control form-control-lg" }}
                        {{ form.nationality.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Religion</label>
                       {{ form.religion | add_class:"form-control form-control-lg" }}
                        {{ form.religion.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Genre</label>
                       {{ form.gender | add_class:"form-control form-control-lg" }}
                        {{ form.gender.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Status marital</label>
                       {{ form.marital_status | add_class:"form-control form-control-lg" }}
                        {{ form.marital_status.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Numero de telephone</label>
                       {{ form.phone_no | add_class:"form-control form-control-lg" }}
                        {{ form.phone_no.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Address</label>
                       {{ form.address | add_class:"form-control form-control-lg" }}
                        {{ form.address.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Address email</label>
                       {{ form.email | add_class:"form-control form-control-lg" }}
                        {{ form.email.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Photo de profil</label>
                       {{ form.photo | add_class:"form-control lh" }}
                        {{ form.photo.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Mot de passe</label>
                       {{ form.password1 | add_class:"form-control form-control-lg" }}
                        {{ form.password1.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                        <div class="col-sm-6">
                    <div class="form-group">
                      <label>Confirmer le mot de passe</label>
                       {{ form.password2 | add_class:"form-control form-control-lg" }}
                        {{ form.password2.errors | add_error_class:"form-errors"}}
                    </div>
                        </div>
                    </div>
                     <div style="text-align:center;">
                    <button type="submit" class="btn btn-gradient-primary mr-2" style="width:500px;">Submit</button>
                     </div>
                     <div class="text-center mt-4 font-weight-light">
                  Vous-avez deja un compte ? <a href="{% url 'login' %}" class="text-primary">Connecter-vous</a>
                </div>
                  </form>

            </div>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>


    </body>

</html>