{% extends 'base/base.html' %}
{% load static %}
{% block title %} School Management System {% endblock %}
{% block content %}

{% for message in messages %}
                {% if "success" in message.tags %}
                  <div class="row">
            <div class="col-12">
                <div class="alert alert-success" style="text-align:center;">{{message}}</div>
            </div>
          </div>
                {% endif %}
                {% endfor %}
{% if object_list %}
<div class="col-lg-12 grid-margin stretch-card" id="department-list">
              <div class="card">
                <div class="card-body shadow">

                     <div class="row">
                        <div class="col-md-12">
                  <h3><img src="{% static 'Mainapp/images/calendar.png' %}" class="heading-icon">Choissisez une classe pour assigner les heures de chaque cours</h3>
                        </div>
                    </div>

                <hr class="line">
                    <div class="row">
                  <div class="col-md-5">
                   <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="{% url 'fill hours class search results' %}" method="get">
            <div class="input-group">
              <input type="text" class="form-control bg-transparent " name="q" placeholder="Rechercher une classe">
            </div>
            <button type="submit" class="btn btn-inverse-primary btn-icon" style="width:100px;height:35px;">Rechercher</button>
          </form>
        </div>
                  </div>
                         <div class="col-sm-3">
                              <div class="container" style="margin-left:290px;">
	<div class="btn-group sort-btn">
		<button class="btn btn-primary" type="button"  data-sort="none" aria-haspopup="true" aria-expanded="false">Trier</button>
		<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort"></i></button><!-- .dropdown-toggle adds rounded borders and reduces padding. It does not trigger dropdowns. -->
		<ul class="dropdown-menu shadow" style="margin-left:-115px;width:200px;">
			<li style="text-align:center;">
                <form action="{% url 'fill hours class sorted list' %}" method="get">
                    <input type="text" value="anglophone" class="hidden" name="cathegory">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">anglophone</button>
                </form>
            </li>
			<li style="text-align:center;">
                <form action="{% url 'fill hours class sorted list' %}" method="get">
                    <input type="text" value="francophone" class="hidden" name="cathegory">
                <button type="submit" class="text-primary" tabindex="-1" data-type="alpha" style="border:none;width:200px;">francophone</button>
                </form>
            </li>
		</ul>
	</div>
</div>
                         </div>
                    </div>

                    <hr class="line">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                          <th style="text-align:center;">
                              No
                          </th>
                        <th style="text-align:center;">
                          Classe
                        </th>
                        <th style="text-align:center;">
                          section
                        </th>
                          <th style="text-align:center;">
                            Serie
                          </th>
                          <th style="text-align:center;">Eleves</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for class in object_list %}
                    <form method="get" action="{% url 'class course list' %}">
                    {% csrf_token %}
                        <tr>
                        <td style="text-align:center;">
                          {{forloop.counter}}
                        </td>
                            <td style="text-align:center;">
                                <strong>{{class.name}}</strong>
                            </td>
                            <td style="text-align:center;">
                                {{class.section}}
                            </td>
                            <td style="text-align:center;">
                          {{class.group_type}}
                        </td>
                            <td style="text-align:center;">
                          {{class.students.all.count}}
                        </td>
                            <td class="hidden">
                            <input type="text" name="id" value="{{class.id}}" class="hidden">
                            </td>
                            <td style="text-align:center;">
                            <button type="submit" class="btn btn-inverse-success">assigner</button>
                        </td>
                      </tr>
                    </form>
                     {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
{% else %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                     <div class="row">
                        <div class="col-md-7">
                  <h4 class="card-title"><i class=" mdi mdi-arrange-bring-forward " style="font-size:30px;padding-right:30px;color:#9a55ff"></i>Aucune classe enrégistré pour le moment</h4>
                        </div>
                         <div class="col-md-5">
                             <p class="card-description">Souhaitez-vous ajouter une classe?</p>
                            <a href="{% url 'add classroom' %}" class="btn btn-success">Ajouter une classe</a>
                        </div>
                     </div>
                </div>
              </div>
</div>
{% endif %}
{% endblock %}